body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #779ECB
}

header {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.container {
    margin: 10px;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8; /* Nivel de opacidad */
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 59px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

textarea {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    resize: none;
    transition: border-color 0.3s ease;
}

textarea:focus {
    border-color: #3498db;
}
.container:hover{
    background-color: aliceblue;
}
